/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url("https://use.typekit.net/dyi4kfq.css");

body, html {
  height: 100%;
  margin: 20pt;
  background-color: white;
  font-family: "futura-pt", sans-serif;
}

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: black;
}

p {
  font-family: "futura-pt", sans-serif;
  color: black;
  font-size: 17px;
}

img {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20pt;
}

h1 {
  text-align: center;
}

#description {
  text-align: center;
}
header {
  padding: 60px;
}

/*NAVBAR*/

.nav {
  float: right;
  font-size: 17px;
  color: darkgray;
  opacity: 0.9;
  text-align: center;
  padding: 14px 16px;
  font-family: "futura-pt", sans-serif;
}

.navbar {
  overflow: hidden;
  float: right;
}

#tag {
  color: darkgray;
}

#head {
  float: left;
  color: black;
}

/*BIO STATEMENT AND RESUME*/

.box {
  text-align: left;
  padding: 30px;
}

.heading {
  color: darkgray;
}

