@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');

body{

	font-family: 'Josefin Sans', sans-serif;
	text-align: center;

}

h1 {

	text-align: center;
}

a {
	text-decoration: none;
	color: #6B717A; 
}

a:visited {

	color: #DAE0F2;
}

p {

	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
}

h4 {
	text-align: center;
}

.res {
	text-align: center;
}
