@import url('https://fonts.googleapis.com/css?family=Scheherazade');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Noto Serif TC";
  color: white;
  background-color: #CDD6DD;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
	font-family: "Julius Sans One";
	color: white;
	text-align: center;
	padding-top: 50px;
}

h2 {
	font-family: "Julius Sans One";
	color: white;
	text-align: center;
	padding-top: 50px;
}

h3 {
	font-family: "Julius Sans One";
	color: white;
	text-align: center;
	padding-top: 50px;
} 

p {
	font-size: 20px;
	margin-top: 10pt;
	margin-right: 100pt;
	margin-left: 100pt;
	opacity: 0.7
}

#me {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 20px;
}

#me2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 20px;
	padding-left: 30px;
}

#statement {
	border-top: 3px solid white;
	margin: 100px;
}

#resume {
	border-top: 3px solid white;
	margin: 100px;
}

.res {
	text-align: center;
}

.resbox {
	padding-bottom: 50px;
}

.bio {
	text-align: center;
	color: white;
	opacity: 0.7;
}

.bs {
	padding: 30px;
	padding-right: 40px;
}

.box {
	margin: 50px;
	background-color: #BBC0C5;
}

.link {
  font-family: "Scheherazade";
  opacity: 0.9;
}

.navbar {
  overflow: hidden;
  float: right;
  padding-right: 40px;
}

.dd {
  float: none;
  font-size: 16px;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-align: left;
  font-family: "Julius Sans One";
}

.nav {
  float: right;
  font-size: 20px;
  opacity: 0.9;
  text-align: center;
  padding: 14px 16px;
  font-family: "Noto Serif TC";
}

.dropdown {
  float: left;
  overflow: hidden;
  text-align: inline;
}

.dropdown, .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#port {
  font-family: "Scheherazade";
  color: white;
  opacity: 0.9;
  text-align: center;
  padding-left: 10px;
  align-content: inline;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightgray;
}

.dd-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba (0, 0, 0, 0.2);
  z-index: 1;
}

.dd-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  display: block;
}

.dd-content a:hover {
  background-color: lightgray;
}

.dropdown:hover .dd-content {
  display: block;
}      
    
