@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

/*GENERAL*/

html {
  margin: 10pt;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: 35pt;
  letter-spacing: 3pt;
  text-align: center;
  padding: 1em;
}

h4 {
  font-size: 20pt;
  letter-spacing: 5pt;
  text-align: center;
  color: black;
}

p {
  text-align: center;
  /*color: black;*/
}

/*LINKS*/

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: black;
}

.link {
    border-bottom: 5px solid darkseagreen;
    color: black;
}

/*IMAGES*/

img {
  padding: 2em;
}

/*NAVIGATION*/

#nav {
  font-size: 15pt;
  padding-bottom: 2em;

}

/*BODY TEXT*/

.desc {
  font-size: 15pt
}

.descbub {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
}

footer {
  padding: 2em;
}













