body {
  margin: 50pt;
}

/*HEADING*/

.heading {
  font-size: 15pt;
  letter-spacing: 5px;
}

#voices {
  text-align: center;
  clear: left;
  padding-bottom: 30px;
  padding-top: 30px;
}

/*NAVBAR*/

.navigation {
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
}

.navbar {

  color: darkgray;
  min-height: 3.25rem;
  position: relative;
  font-family: "lato";
  font-size: 13pt;
  letter-spacing: 5px;
  display: inline-flex;
}

/*GRID*/

img {
  position: realtive;
}

.columns {
  clear: left;
}

/*FOOTER*/

footer {
  font-size: 10pt;
  float: left;
  padding: 50px;
  display: block;
}












