/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url("https://use.typekit.net/dyi4kfq.css");

body, html {
  height: 100%;
  margin: 20pt;
  background-color: white;
  font-family: "futura-pt", sans-serif;
}

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: black;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 30pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: "futura-pt", sans-serif;
  color: black;
  font-size: 17px;
  padding: 10px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#description {
  text-align: center;
}
header {
  padding: 60px;
}

#body2 {
  margin: 40pt;
}

/*NAVBAR*/

.nav {
  float: right;
  font-size: 17px;
  color: darkgray;
  opacity: 0.9;
  text-align: center;
  padding: 14px 16px;
  font-family: "futura-pt", sans-serif;
}

.navbar {
  overflow: hidden;
  float: right;
}

#tag {
  color: darkgray;
}

#head {
  float: left;
  color: black;
}

#subhead {
  text-align: center;
}

#tagline {
  text-align: center;
  color: darkgrey;
}

.link {
  text-align: center;
  font-size: 15pt;
}

/*INTRODUCTION*/

#intro {
  float: right;
}

#disc {
  float: right;
}

.menu {
  text-align: center;
  padding: 40px;
  margin-top: 30pt;
}

.heading a:hover {
  color: darkgray;
}

/*IMAGES*/

.vertical {
  height: 1150px;
  width: 800px;
  padding: 5px;
}

.horizontal {
  height: 500px;
  width: 800px;
  padding: 5px;
}

#logo {
  height: 700px;
  width: 500px;
  padding: 20px;
}

.inst {
  height: 800px;
  width: 600px;
  padding: 20px;
}

.caption {
  text-align: center;
  margin: 40pt;
}










