@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');

body, html {
	margin-right: 60px;
	margin-left: 80px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	align-items: center;
	font: 400 15px/1.8 "Josefin Sans", sans-serif;
	font-size: 20pt;
	background-color: #BFCCD0;
}

h1 {
	display: inline;
    margin-left: 5pt;
}

h3 {
	display: inline;
	margin-left: 585pt;
}

p {
	font-size: 20pt;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-top: 30pt;
}

.left {
	text-align: left;
}

.center {
	text-align: left;
}

.right {
	text-align: left;
}

#max {
	height: 400px;
	width: 410px;
}

#voices {
	height: 400px;
	width: 410px;
}

#essex {
	height: 400px;
	width: 410px;
}

#vows {
	height: 400px;
	width: 410px;
}

#boho {
	height: 400px;
	width: 410px;
}

#amaranth {
	height: 400px;
	width: 410px;
}

#nyc{
	height: 400px;
	width: 410px;
}

#mikey {
	height: 400px;
	width: 410px;
}

#oysters {
	height: 400px;
	width: 400px;
}

#eliot {
	height: 400px;
	width: 410px;
}




