@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

/*GENERAL*/

html {
  background-color: white;
}

body {
  padding: 3em;
}

a {
  text-decoration: none;
  color: gray;
  border-bottom: solid 3px darkturquoise;
  padding-bottom: 3px;
}

h1 {
  font-size: 40pt;
  font-family: "Staatliches", cursive;
  letter-spacing: 3pt;
}

p {
  font-size: 15pt;
}

/*HEADING*/

#title {
  text-align: center;
}

.logo {
  padding-bottom: 2em;
}

#dek {
  padding-top: 1em;
  padding-bottom: 2em;
  letter-spacing: 1pt;
}

#nav {
  font-size: 13pt;
}

#tag {
  font-size: 20pt;
  letter-spacing: 2pt;
  font-family: "Staatliches", cursive;
}


/*FOOTER*/

footer {
  font-size: 10pt;
  float: left;
  padding: 50px;
  display: block;
}