@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');


body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Josefin Sans", sans-serif;
  color: #777;
}

.bgimg-1 {
  position: relative;
  opacity: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("Michael.jpg");
  height: 100%;
  opacity: 20%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffff;
}
