@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');

body {

	font-family: 'Josefin Sans', sans-serif;
	background-color: #DCE1E9;
}

h1 {

	text-align: center;
}

.subhead {
	text-align: center;
}

a {
	text-decoration: none;
	color: white; 
}

a:visited {
  color: gray;
}

.head {

	color: white;
}

#chess {

	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#vows {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#portraits {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#oysters {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#amaranthine {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bohemia {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#voices4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.label {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
}

img {
	width:800px;
	height:500px;
}

p {
	text-align: center;
}

h2 {
	text-align: center;
}



